/* Generic Styles */

.table .item-inline {
	display: inline-block;
}

.table .item-top {
	vertical-align: top;	
}

.table .item-middle {
	vertical-align: middle;	
}

.table > thead > tr:first-child > th,
.table > tbody > tr:first-child > th,
.table > tfoot > tr:first-child > th,
.table > thead > tr:first-child > td,
.table > tbody > tr:first-child > td,
.table > tfoot > tr:first-child > td {
	border-top: none;
}

.table td label {
	margin-bottom: 0;	
}

.table td label .help:after {
	display: none;
}

.table td .help {
	color: #888;
	font-weight: normal;
	font-size: 11px;
	display: block;
	margin-top: 3px;
	font-style: italic;
}

.table td .help:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f05a";
	margin-right: 5px;
	font-size: 12px;
}

.service-btn-holder {
	text-align: right;	
}

.vp-block {
	float: none;
	margin-bottom: 10px;	
}

.vp-block:last-child {
	margin-bottom: 0;	
}

#isense_support .registeredDomains {
	padding: 0;
}

#isense_support .registeredDomains li {
	list-style: none;
}

/* Video Reviews List */

#productReviews {
	margin-top: 25px;	
}

#productReviews .emptyReviews td {
	text-align: center;
}

/* End of Video Reviews List */

/* Video Reviews Form */

#reviewForm .modal-lg {
	width: 70%;	
}

#reviewForm .table {
	margin-bottom: 0;	
}

#reviewForm .storesList {
	padding: 0;
	margin: 0;
}

#reviewForm .storesList li {
	list-style: none;
	display: block;
	margin-bottom: 2px;
}

#reviewForm .storesList li:last-child {
	margin-bottom: 0;	
}

#reviewForm .storesList li input[type=checkbox] {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

#reviewForm .storesList li label {
	display: inline-block;
	vertical-align: middle;
}

#video-review-image {
	position: relative;
	padding-right: 50px;	
}

#video-review-source {
	position: relative;
	padding-right: 50px;	
}

.vp-btn-browse {
	position: absolute;
	right: 0;
	top: 0;	
}

.videoReviewLink {
	width:52%;
	margin-right:5px;
	display:inline-block;
}

.videoReviewImage {
	width:52%;
	margin-right:5px;
	display:inline-block;
}

/* End of Video Reviews Form */


/* Video Collections */

#reviewCollections {
	margin-top: 25px;	
}

.reviewLink img {
	max-width: 350px;
}

.review_form img {
	max-width: 150px;
}


/* End of Video Collections */



/* Rating CSS
.table-hover > tbody > tr.emptyReviews:hover {
	background: none;	
}

.table-hover > tbody > tr.emptyReviews > td {
	text-align: center;	
}

#cboxLoadedContent input.cs-video-src */

/*
div.rating-cancel,
div.star-rating {
	float:left;
	width:17px;
	height:15px;
	text-indent:-999em;
	cursor:pointer;
	display:block;
	background:transparent;
	overflow:hidden
}

div.rating-cancel,
div.rating-cancel a {
	background:no-repeat 0 -16px
}

div.star-rating,
div.star-rating a {
	background:url(../image/videopublisher/star.gif) no-repeat 0 0px
}

div.rating-cancel a,
div.star-rating a {
	display:block;
	width:16px;
	height:100%;
	background-position:0 0px;
	border:0
}

div.star-rating-on a {
	background-position:0 -16px!important
}

div.star-rating-hover a {
	background-position:0 -32px
}

/*

/* Read Only CSS
div.star-rating-readonly a {
	cursor:default !important
}
*/

/* Partial Star CSS
div.star-rating {
	background:transparent!important;
	overflow:hidden!important
}
*/

/*
h1 span.iModulesTitle {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	display: block;
	float: left;
	margin-right: 20px;
}

*/

/*
.emptyReviews {
	margin: 10px 10px 20px 10px;	
}

a.button.addReviewBtn {
	margin-bottom: 20px;	
}

#productReviews ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.left.reviewText {
	max-width: 270px;
}

.left.reviewText div {
	max-height: 70px;
	overflow-y: scroll;
}

.scrollbox {
	padding-right: 10px;
}

table.form ul {
	list-style-type: none;
}

table.form ul li {
	display: inline;
	margin-left: 5px;
}

table.list td.reviewLink img {
	height:50px;
}

table.list td.reviewTitle {
	width:250px;
	overflow: scroll;
}

#cboxOverlay {
	background: rgba(255,255,255, .8);
}

#cboxClose {
	top: 6px;
	right: 6px;
}

#colorbox {
	margin-top: 10px;
	background: #fff;
	padding: 0 !important;
	border: 3px solid #e6e5e5;
	-moz-box-shadow: 0px 0px 16px -2px #333;
	-webkit-box-shadow: 0px 0px 16px -2px #333;
	box-shadow: 0px 0px 16px -2px #333;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333');
}

#cboxWrapper {
	position: relative;	
}

#cboxMiddleLeft, #cboxMiddleRight, #cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight {
	background: none;
	display: none;
}

span.right a {
	float: right;
}

span.pvr-title {
	color: #333;
	text-align: center;
	height: 40px;
	line-height: 40px;
	display: block;
	text-align: left;
	font-size: 22px;
	font-weight: normal;
	padding: 0 0 0 20px;
	background-color: #e6e5e5;
	overflow: hidden;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.pvrProductsInput {
	width:355px;
}

#cboxLoadedContent {
	margin-bottom:0px;
}
#cboxLoadedContent form {
	padding: 20px;	
}

#cboxLoadedContent input.wide {
	width: 100%;
}

#cboxLoadedContent input.cs-video-src {
	width: 74%;
	display: inline-block;
}

#cboxLoadedContent .cs-video-sep {
	display: inline-block;
	margin: 0 5px;
	font-weight: bold;
	font-size: 12px;
	color: #000;
}

#cboxLoadedContent table.form tr.thickSeparator {
	border-bottom: 5px solid #e6e5e5;
	padding: 0 0 10px 0;
}

#cboxLoadedContent table.form tr.thickSeparator td {
	padding-bottom: 25px;
	vertical-align: top;	
}

#cboxLoadedContent .htabs {
	margin-bottom: 0px;
}

.clearfix {
	clear: both;
}

div.pvr-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 999;
	background: rgba(255,255,255, .8);
}

div.pvr-loader img {
	width: 220px;
	height: 19px;
	position: absolute;
	top: 50%;
	margin-top: -9px;
	left: 50%;
	margin-left: -110px;
}

table.form.addVideoReviewMain td.addVideoReviewLabel {
	width: 130px;
}

table.form.addVideoReviewSecondary td.addVideoReviewLabel {
	width: 130px;
}


table.form.addVideoReviewSecondary tr.associateProducts td {
	border-bottom: none;
	padding-bottom: 0;
}

table.form.addVideoReviewSecondary td.relatedProductsLabel {
	vertical-align: top;	
}

table.form.addVideoReviewSecondary td span.ratingLabel {
	float: left;
	margin-left: 40px;	
}

table.form.addVideoReviewSecondary td .reviewRatingBox {
	display: none;
}

table.form.addVideoReviewSecondary ul.storesList {
	margin: 0;
	padding: 0;
}

table.form.addVideoReviewSecondary ul.storesList li {
	margin: 0 10px 0 0;
	padding: 0;
}

#pvr-settings-separator {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 16px;
	height: 40px;
	margin: 15px 0px;
	background: #F0F0F0;
	border: 1px solid #E0E0E0;
	font-size: 14px;
	padding: 0px 10px;
}

#pvr-settings-separator span {
	display: inline-block;
	height:40px;
	line-height: 40px;
	vertical-align: middle;
}

#pvr-settings-separator span.right {
	float:right;
}

#delForm table {
	text-align: left;
}

#delForm th {
	padding: 10px;
	background: #F5F5F5;
	vertical-align: middle;
}

#delForm th span {
	float: left;
	margin-top: 5px;
	display: inline-block;
}

#delForm tr td:first-child {
	width: 20px;
}

#delForm tr:last-child td {
	border-bottom: 0;
}

#delForm a.button {
	float: right;
	font-weight: normal;
}

div.ui-dialog.ui-widget.ui-widget-content.ui-draggable {
	z-index: 991000 !important;
}
*/