@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Roboto+Condensed|Roboto:300,400,500&subset=cyrillic');

//font-family: 'Open Sans', sans-serif;
//font-family: 'Roboto Condensed', sans-serif;
//font-family: 'Roboto', sans-serif;

@font-face {
  font-family: 'MyriadPro Regular';
  src: url('./fonts/MyriadProRegular.ttf');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('./fonts/fontawesome-webfont.ttf');
}


