@font-face {
  font-family: 'MyriadPro Regular';
  src: url('./fonts/MyriadProRegular.ttf');
}
@font-face {
  font-family: 'OpenSans Regular';
  src: url('./fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('./fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'RobotoCondensed Regular';
  src: url('./fonts/RobotoCondensed-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Thin';
  src: url('./fonts/Roboto-Thin.ttf');
}