@import url(stylesheet.css);
a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
  color: inherit; }

input:focus, textarea:focus {
  outline: none; }

button:focus, button:active {
  outline: none; }

@font-face {
  font-family: 'MyriadPro Regular';
  src: url("./fonts/MyriadProRegular.ttf"); }
@font-face {
  font-family: 'OpenSans Regular';
  src: url("./fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: 'Roboto Medium';
  src: url("./fonts/Roboto-Medium.ttf"); }
@font-face {
  font-family: 'RobotoCondensed Regular';
  src: url("./fonts/RobotoCondensed-Regular.ttf"); }
@font-face {
  font-family: 'OpenSans Semibold';
  src: url("./fonts/OpenSans-Semibold.ttf"); }
@font-face {
  font-family: 'Roboto Light';
  src: url("./fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: 'FontAwesome';
  src: url("./fonts/fontawesome-webfont.ttf"); }
header {
  background: #211f20; }
  header .callback {
    padding-top: 40px; }
    header .callback__icon {
      width: 41px;
      height: 50px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 16px;
      background: url("./img/callbackIcon.png") no-repeat; }
    header .callback__info {
      display: inline-block;
      vertical-align: middle;
      font: 16px/20px "OpenSans Regular";
      color: #fff; }
    header .callback__link {
      display: block;
      color: #32a0ed;
      padding-bottom: 2px;
      text-decoration: underline; }
  header .phones {
    padding-top: 40px; }
    header .phones__icon {
      width: 39px;
      height: 50px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 16px;
      background: url("./img/phonesIcon.png") no-repeat; }
    header .phones__links {
      display: inline-block;
      vertical-align: middle; }
      header .phones__links__item {
        display: block;
        font: 16px/20px "Roboto Medium";
        color: #fff; }
  header .cart {
    padding-top: 40px;
    cursor: pointer; }
    header .cart .cart-wrap__content {
      position: relative;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      border: 1px solid #32a0ed;
      border-radius: 5px;
      height: 46px;
      background: none;
      padding: 0;
      width: 100%; }
    header .cart .cart-wrap__icon {
      width: 35%;
      height: 46px;
      background: linear-gradient(to top, #32a0ed, #00deff);
      position: relative;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
      header .cart .cart-wrap__icon:after {
        content: '';
        position: absolute;
        top: 13px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 23px;
        height: 21px;
        background: url("./img/cartIcon.png") no-repeat; }
    header .cart .cart-wrap__sum {
      width: 65%;
      text-align: center;
      font: 16px/46px "OpenSans Regular";
      color: #fff; }
    header .cart .cart-wrap__total {
      position: absolute;
      top: 12px;
      left: -15px;
      background: #363636;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      font: 14px/25px "OpenSans Regular";
      color: #fff;
      text-align: center; }

.navigation {
  background: #363636; }
  .navigation__links__item {
    display: inline-block;
    font: 13px "MyriadPro Regular";
    line-height: 15px;
    color: #fff;
    padding: 10px 15px; }
    .navigation__links__item:hover {
      color: #fff;
      text-decoration: underline; }
    .navigation__links__item:first-child {
      padding-left: 0; }
  .navigation__links__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    width: 9px;
    height: 17px;
    background: url("./img/loginIcon.png") no-repeat; }
  .navigation__links.login {
    text-align: right; }
    .navigation__links.login__item {
      padding-right: 0; }

.menu {
  background: #141414; }
  .menu .navbar {
    min-height: 55px;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center; }
    .menu .navbar__container {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-content: center;
      align-items: center; }
    .menu .navbar__item {
      padding: 0 10px;
      position: relative;
      overflow: visible; }
      .menu .navbar__item:hover .sub-menu {
        display: block; }
      .menu .navbar__item .sub-menu {
        display: none;
        position: absolute;
        top: 55px;
        left: 0;
        background: #363636;
        z-index: 5;
        width: 655px;
        height: 200px; }
        .menu .navbar__item .sub-menu__container {
          padding: 25px 30px; }
        .menu .navbar__item .sub-menu__list {
          margin: 0;
          padding: 0;
          list-style-type: none;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: stretch;
          flex-wrap: wrap; }
        .menu .navbar__item .sub-menu__item {
          width: 25%;
          margin-bottom: 20px; }
        .menu .navbar__item .sub-menu__link {
          font: 14px/16px "MyriadPro Regular";
          color: #b8b8b8;
          text-transform: uppercase;
          white-space: nowrap; }
          .menu .navbar__item .sub-menu__link:hover {
            color: #fff; }
    .menu .navbar__link {
      display: block;
      font: 16px/55px "RobotoCondensed Regular";
      text-transform: uppercase;
      color: #fff; }

.search {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-bottom: 0; }
  .search__container {
    width: 320px;
    height: 35px;
    border: 1px solid #d5d5d5;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center; }
  .search__field {
    width: 85%;
    background: none;
    border: none;
    padding: 0 15px;
    font: 14px/35px "Roboto Thin";
    color: #a4a4a4; }
    .search__field:focus {
      outline: none; }
  .search__btn {
    width: 15%;
    height: 30px;
    border: none;
    background: url("./img/searchIcon.png") center no-repeat; }
    .search__btn:focus {
      outline: none; }

.product {
  position: relative; }
  .product:focus {
    outline: none; }
  .product .status-icon {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .product__thumb {
    background: #fff;
    overflow: auto;
    border: 2px solid #fff; }
    .product__thumb:hover {
      border: 2px solid #32a0ed; }
    .product__thumb__image {
      text-align: center; }
    .product__thumb__caption {
      padding: 0 30px; }
  .product__name {
    display: block;
    text-align: center;
    position: relative;
    min-height: 45px;
    font: 16px "Roboto Medium";
    color: #4e4e4e; }
    .product__name:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 2px auto;
      width: 85px;
      height: 1px;
      background: #32a0ed; }
  .product__price {
    text-align: center;
    margin: 20px 0;
    font: 18px/20px "OpenSans Semibold";
    color: #3a3a3a;
    text-transform: uppercase; }
    .product__price_new {
      color: #ff4e41;
      display: inline-block;
      vertical-align: bottom; }
    .product__price_old {
      font: 15px/20px "OpenSans Regular";
      color: #8b8b8b;
      display: inline-block;
      vertical-align: bottom;
      text-decoration: line-through; }
  .product__btn {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 40px; }
    .product__btn__quantity {
      width: 70px;
      position: relative; }
      .product__btn__quantity .quantity__buttons {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 30px;
        height: 30px;
        border: 1px solid #cacaca;
        border-radius: 50%;
        padding: 0;
        overflow: hidden; }
        .product__btn__quantity .quantity__buttons__up {
          display: block;
          width: 100%;
          height: 14px;
          background: url("./img/arrowUp.png") no-repeat center;
          margin: 0;
          cursor: pointer; }
          .product__btn__quantity .quantity__buttons__up:hover {
            background: url("./img/arrowUp.png") no-repeat center, linear-gradient(#91cef9, white); }
        .product__btn__quantity .quantity__buttons__down {
          display: block;
          width: 100%;
          height: 14px;
          background: url("./img/arrowDown.png") no-repeat center;
          margin: 0;
          cursor: pointer; }
          .product__btn__quantity .quantity__buttons__down:hover {
            background: url("./img/arrowDown.png") no-repeat center, linear-gradient(white, #91cef9); }
    .product__btn__field {
      width: 100%;
      height: 30px;
      padding-left: 20px;
      background: #fff;
      border: 1px solid #cacaca;
      border-radius: 20px;
      font: 14px/30px "Open Sans";
      color: #000; }
    .product__btn__button {
      width: 95px;
      height: 30px;
      border: 2px solid #32a0ed;
      border-radius: 20px;
      padding-left: 8px;
      background: #fff;
      transition-duration: 0.3s;
      outline: none; }
      .product__btn__button:hover {
        background: #32a0ed; }
      .product__btn__button:hover .product__btn__button__icon {
        background: url("./img/productCartIconHover.png") no-repeat; }
      .product__btn__button:hover .product__btn__button__text {
        color: #fff; }
      .product__btn__button__icon {
        display: inline-block;
        vertical-align: middle;
        width: 17px;
        height: 16px;
        background: url("./img/productCartIcon.png") no-repeat; }
      .product__btn__button__text {
        display: inline-block;
        vertical-align: middle;
        font: 14px/24px "Open Sans";
        color: #2a2a2a; }

body {
  background: #f4f4f4;
  overflow-x: hidden; }

.container .breadcrumb {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  margin-top: 38px;
  margin-bottom: 0;
  padding: 0;
  background: none;
  border-radius: 0;
  border: none; }
  .container .breadcrumb__item {
    text-shadow: none; }
    .container .breadcrumb__item:last-child .breadcrumb__link:after {
      display: none; }
  .container .breadcrumb__link {
    font: 13px/15px "MyriadPro Regular";
    color: #dedede;
    position: relative; }
    .container .breadcrumb__link:hover {
      color: #dedede;
      text-decoration: underline; }
    .container .breadcrumb__link:after {
      position: absolute;
      top: 3px;
      right: -25px;
      content: '';
      display: inline-block;
      width: 6px;
      height: 10px;
      background: url("./img/slick-next.png") no-repeat; }

input[type="checkbox"] {
  width: 12px;
  height: 12px;
  border: 1px solid #2a2a2a;
  border-radius: 2px;
  background: transparent;
  -webkit-appearance: none;
  position: relative; }

input[type="checkbox"]:checked {
  background: #32a0ed;
  border-color: #32a0ed; }
  input[type="checkbox"]:checked::after {
    position: absolute;
    top: 5px;
    left: 1px;
    display: block;
    transform: rotate(45deg);
    background: #fff;
    width: 4px;
    height: 2px;
    content: ''; }
  input[type="checkbox"]:checked:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    display: block;
    transform: rotate(-45deg);
    background: #fff;
    width: 7px;
    height: 2px; }

.module {
  margin-top: 40px; }
  .module__header {
    padding-bottom: 15px;
    border-bottom: 3px solid #e2e2e2;
    position: relative;
    margin-bottom: 30px; }
    .module__header__line {
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 45px;
      height: 3px;
      background: #32a0ed;
      margin: 0;
      border: none; }
  .module__title {
    display: inline-block;
    vertical-align: middle;
    font: 20px/22px "Roboto Light";
    color: #3a3a3a;
    text-transform: uppercase; }
  .module__link {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    position: relative;
    padding: 0 25px 0 5px;
    font: 13px "MyriadPro Regular";
    line-height: 25px;
    background: #fff;
    color: #3a3a3a;
    border: 1px solid #cecece;
    border-radius: 20px; }
    .module__link:after {
      position: absolute;
      right: 7px;
      top: 10px;
      content: '';
      width: 14px;
      height: 8px;
      background: url("./img/arrowRight.png") no-repeat; }
  .module .latest .status-icon {
    width: 43px;
    height: 21px;
    background: url("./img/newIcon.png") no-repeat; }
  .module .bestseller .status-icon {
    width: 43px;
    height: 21px;
    background: url("./img/hitIcon.png") no-repeat; }
  .module .slick-arrow {
    position: absolute;
    top: -70px;
    width: 25px;
    height: 25px;
    font-size: 0;
    border: none;
    background: #007cd2; }
    .module .slick-arrow:focus {
      outline: none; }
    .module .slick-arrow.slick-prev {
      background: #32a0ed url("./img/slick-prev.png") center no-repeat;
      right: 40px; }
    .module .slick-arrow.slick-next {
      background: #007cd2 url("./img/slick-next.png") center no-repeat;
      right: 15px; }

.video-wrap {
  margin-top: 40px;
  width: 100vw;
  margin-left: calc((-100vw + 1140px)/2);
  background: url("./img/videoBg.png") no-repeat; }
  .video-wrap .module__title {
    color: #fff; }
  .video-wrap .video {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center; }
    .video-wrap .video__wrap {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap; }
    .video-wrap .video__item {
      position: relative;
      margin-bottom: 30px; }
      .video-wrap .video__item.first {
        margin-bottom: 0; }
        .video-wrap .video__item.first .video__item__title {
          font: 18px/20px "OpenSans Regular"; }
      .video-wrap .video__item__link {
        display: block;
        position: relative; }
      .video-wrap .video__item__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition-duration: 0.3s;
        background: rgba(0, 0, 0, 0.5) url("./img/playIcon.png") center no-repeat; }
        .video-wrap .video__item__overlay:hover {
          background: rgba(0, 0, 0, 0.2) url("./img/playIconHover.png") center no-repeat; }
      .video-wrap .video__item__title {
        position: absolute;
        bottom: 12px;
        left: 25px;
        border-left: 3px solid #32a0ed;
        font: 16px/18px "OpenSans Regular";
        color: #fff;
        padding-left: 8px; }

.news__thumb {
  background: #fff; }
.news__caption {
  padding: 10px 20px 0; }
.news__title {
  font: 16px/18px "Roboto Medium";
  color: #4e4e4e; }
.news__descr {
  font: 14px/18px "Roboto Light";
  color: #4d4d4d;
  margin: 16px 0; }
.news__info {
  border-top: 1px solid #f4f4f4;
  padding: 10px 20px;
  font: 13px/15px "Roboto Light";
  color: #b6b6b6; }

.module .owl-carousel {
  margin-bottom: 50px;
  padding: 25px 55px;
  background: #f4f4f4;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc; }
  .module .owl-carousel .item {
    display: flex;
    justify-content: center; }
  .module .owl-carousel .owl-wrapper-outer {
    border: none;
    box-shadow: none;
    border-radius: 0; }
  .module .owl-carousel .owl-buttons .owl-prev {
    opacity: 1;
    left: 0;
    top: 25px;
    width: 33px;
    height: 92px;
    background: #2a2a2a; }
    .module .owl-carousel .owl-buttons .owl-prev .prev {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: block;
      width: 6px;
      height: 10px;
      background: url("./img/slick-prev.png") center no-repeat; }
  .module .owl-carousel .owl-buttons .owl-next {
    opacity: 1;
    right: 0;
    top: 25px;
    width: 33px;
    height: 92px;
    background: #2a2a2a; }
    .module .owl-carousel .owl-buttons .owl-next .next {
      position: absolute;
      display: block;
      width: 6px;
      height: 10px;
      top: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: url("./img/slick-next.png") center no-repeat; }

.footer {
  background: #363636; }
  .footer__item__title {
    font: 18px/20px "Roboto Medium";
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 27px; }
  .footer__item__list {
    margin: 0;
    list-style-type: none;
    padding: 0; }
  .footer__item__link {
    display: block;
    font: 14px/16px "OpenSans Regular";
    color: #a9a9a9;
    margin: 8px 0; }
  .footer__item__info {
    margin: 8px 0 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center; }
    .footer__item__info__icon {
      width: 20%;
      display: flex;
      justify-content: center; }
      .footer__item__info__icon .phones {
        display: block;
        width: 20px;
        height: 32px;
        background: url("./img/phonesIconF.png") no-repeat; }
      .footer__item__info__icon .work-time {
        display: block;
        width: 30px;
        height: 32px;
        background: url("./img/workTimeIconF.png") no-repeat; }
      .footer__item__info__icon .mail {
        display: block;
        width: 32px;
        height: 24px;
        background: url("./img/mailIcon.png") no-repeat; }
    .footer__item__info__link {
      display: block;
      font: 14px/16px "Roboto Light";
      color: #fff; }
    .footer__item__info__wrap {
      font: 14px/16px "Roboto Light";
      color: #fff; }
    .footer__item__info.social {
      justify-content: center;
      margin-bottom: 25px; }
  .footer__item__socLink {
    width: 17%;
    text-align: center; }

.copyright {
  background: #2a2a2a;
  font: 13px/18px "OpenSans Regular";
  color: #a9a9a9;
  padding: 20px 0; }
  .copyright__text {
    padding: 0; }
    .copyright__text__link {
      font: 13px/18px "OpenSans Regular";
      color: #a9a9a9; }
      .copyright__text__link:hover {
        color: #a9a9a9; }
  .copyright .warning {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0; }
    .copyright .warning__text {
      width: 80%; }
    .copyright .warning__icon {
      display: block;
      width: 38px;
      height: 38px;
      background: url("./img/warningIcon.png") no-repeat; }

.slideshow {
  width: 100vw;
  margin-left: calc((-100vw + 1140px)/2);
  background: url("./img/vaperBanner.png") 50% 100% no-repeat; }
  .slideshow .owl-carousel {
    background: transparent; }
    .slideshow .owl-carousel .owl-wrapper-outer {
      border: none;
      box-shadow: none; }
      .slideshow .owl-carousel .owl-wrapper-outer .productAdvt {
        position: relative;
        display: block; }
        .slideshow .owl-carousel .owl-wrapper-outer .productAdvt__btn {
          position: absolute;
          bottom: 145px;
          left: 185px;
          width: 110px;
          height: 35px;
          border: 2px solid #fff;
          border-radius: 20px;
          padding-left: 11px;
          cursor: pointer;
          transition-duration: 0.3s; }
          .slideshow .owl-carousel .owl-wrapper-outer .productAdvt__btn:hover {
            background: #fff; }
            .slideshow .owl-carousel .owl-wrapper-outer .productAdvt__btn:hover .productAdvt__btn__icon {
              background: url("./img/productCartIcon.png") no-repeat; }
            .slideshow .owl-carousel .owl-wrapper-outer .productAdvt__btn:hover .productAdvt__btn__text {
              color: #000; }
          .slideshow .owl-carousel .owl-wrapper-outer .productAdvt__btn__icon {
            width: 17px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 3px;
            background: url("./img/productCartIconHover.png") no-repeat; }
          .slideshow .owl-carousel .owl-wrapper-outer .productAdvt__btn__text {
            display: inline-block;
            vertical-align: middle;
            font: 16px/30px "OpenSans Regular";
            color: #fff; }

.category__header {
  min-height: 95px;
  background: url("./img/categoryBg.png") center no-repeat;
  margin-bottom: 30px; }
.category__title {
  margin-top: 38px;
  font: 24px/26px "OpenSans Regular";
  text-transform: uppercase;
  color: #dedede;
  padding: 0; }
.category__sort {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #adadad;
  margin: 0 15px; }
  .category__sort__select__title {
    display: inline-block;
    vertical-align: middle;
    font: 14px/16px "MyriadPro Regular";
    color: #2a2a2a;
    margin-right: 14px;
    margin-bottom: 0; }
  .category__sort__select__field {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    border-radius: 0;
    background: transparent;
    border: 1px solid #adadad; }
  .category__sort__buttons {
    width: 68px;
    height: 34px;
    border: 1px solid #adadad;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0 3px; }
    .category__sort__buttons__item {
      width: 50%;
      background: none;
      color: #211f20;
      border: none;
      font-size: 17px; }
      .category__sort__buttons__item.active {
        color: #32a0ed; }
.category .product.product-list .product__thumb {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin-bottom: 27px; }
  .category .product.product-list .product__thumb__image {
    width: 25%; }
  .category .product.product-list .product__thumb__caption {
    width: 75%;
    padding: 15px 30px; }
.category .product.product-list .product__name {
  text-align: left;
  min-height: 30px; }
  .category .product.product-list .product__name:after {
    left: 0;
    right: auto; }
.category .product.product-list .product__price {
  text-align: left;
  margin: 15px 0; }
.category .product.product-list .product__attribute {
  margin: 5px 0; }
  .category .product.product-list .product__attribute__item {
    font: 13px/20px "OpenSans Regular";
    color: #3a3a3a; }
.category .product.product-list .product__btn {
  padding: 0;
  margin-top: 25px;
  justify-content: flex-start;
  margin-bottom: 0; }
  .category .product.product-list .product__btn__button {
    margin-left: 15px; }
    .category .product.product-list .product__btn__button:hover {
      color: #fff; }
    .category .product.product-list .product__btn__button__icon {
      margin-right: 8px; }
.category .product.product-grid {
  margin-bottom: 30px; }
  .category .product.product-grid .product__attribute {
    display: none; }
  .category .product.product-grid .product__btn {
    padding: 0; }

.productPage__header {
  min-height: 343px;
  background: url("./img/productPageBg.png") no-repeat; }
.productPage__title {
  margin-top: 38px;
  font: 24px/26px "OpenSans Regular";
  text-transform: uppercase;
  color: #dedede;
  padding: 0; }
.productPage__content {
  margin-top: -245px; }
.productPage__wrap {
  background: #fff;
  border: 1px solid #c2c2c2;
  margin: 0; }
.productPage__thumbnails {
  padding: 20px 20px 0 20px; }
  .productPage__thumbnails__image {
    display: block;
    border: 1px solid #f4f5f7;
    text-align: center;
    position: relative; }
  .productPage__thumbnails__icon {
    display: block;
    width: 38px;
    height: 38px;
    border: 1px solid #000;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: center; }
    .productPage__thumbnails__icon .fa {
      color: #000;
      line-height: 36px; }
  .productPage__thumbnails__link {
    display: block;
    text-align: center; }
    .productPage__thumbnails__link img {
      margin: 0 auto; }
  .productPage__thumbnails__list {
    padding: 0 10px;
    margin: 15px 0;
    list-style-type: none; }
    .productPage__thumbnails__list .slick-arrow {
      position: absolute;
      top: 30%;
      font-size: 0;
      width: 30px;
      height: 30px;
      border: 1px solid #000;
      z-index: 5;
      transition-duration: 0.3s; }
      .productPage__thumbnails__list .slick-arrow.slick-prev {
        left: -10px;
        background: #fff url("./img/slick-prevB.png") center no-repeat; }
        .productPage__thumbnails__list .slick-arrow.slick-prev:hover {
          background: #32a0ed url("./img/slick-prevW.png") center no-repeat;
          border: 1px solid #32a0ed; }
      .productPage__thumbnails__list .slick-arrow.slick-next {
        right: -10px;
        background: #fff url("./img/slick-nextB.png") center no-repeat; }
        .productPage__thumbnails__list .slick-arrow.slick-next:hover {
          background: #32a0ed url("./img/slick-nextW.png") center no-repeat;
          border: 1px solid #32a0ed; }
  .productPage__thumbnails__item {
    border: 1px solid #f4f5f7;
    margin: 0 3px; }
.productPage__info {
  padding: 30px 15px 0; }
  .productPage__info__item {
    border-bottom: 1px solid #cccccc;
    padding: 20px 0; }
    .productPage__info__item:first-child {
      padding-top: 0; }
    .productPage__info__item .product__btn {
      margin-bottom: 0;
      justify-content: flex-start;
      padding: 0; }
      .productPage__info__item .product__btn__button {
        margin-left: 13px; }
    .productPage__info__item__header {
      font: 17px/19px "Roboto Medium";
      color: #4e4e4e;
      margin-bottom: 20px; }
    .productPage__info__item .product__attribute__item {
      font: 14px/16px "OpenSans Regular";
      color: #676767;
      margin-bottom: 13px; }
  .productPage__info__name {
    font: 17px/19px "Roboto Medium";
    color: #4e4e4e;
    padding-top: 13px;
    margin-bottom: 20px; }
  .productPage__info__rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center; }
    .productPage__info__rating__link {
      font: 12px/14px "OpenSans Regular";
      color: #676767;
      margin-left: 12px; }
      .productPage__info__rating__link:hover {
        text-decoration: underline; }
  .productPage__info__star {
    display: inline-block;
    margin: 1px; }
    .productPage__info__star:before {
      font-size: 1.5em;
      font-family: "FontAwesome";
      content: "\f005";
      color: #dddddd; }
    .productPage__info__star_yellow {
      display: inline-block;
      margin: 1px; }
      .productPage__info__star_yellow:before {
        font-size: 1.5em;
        font-family: "FontAwesome";
        content: "\f005";
        color: #ffd700; }
  .productPage__info__price {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center; }
    .productPage__info__price_old {
      font: 22px/24px "OpenSans Regular";
      color: #939393;
      text-decoration: line-through; }
    .productPage__info__price_new {
      padding: 10px;
      background: #2a2a2a;
      font: 22px/22px "OpenSans Semibold";
      color: #fff;
      margin-left: 10px; }
.productPage__options__title {
  font: 16px/18px "OpenSans Semibold";
  color: #2a2a2a;
  margin-bottom: 20px; }
.productPage__options__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center; }
.productPage__options__item {
  position: relative;
  width: 40px;
  margin-right: 13px; }
  .productPage__options__item__name {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer; }
    .productPage__options__item__name span {
      position: absolute;
      font: 14px/16px "OpenSans Regular";
      color: #000;
      top: 10px;
      left: 0;
      right: 0;
      text-align: center; }
    .productPage__options__item__name:before {
      content: '';
      width: 38px;
      height: 38px;
      border: 1px solid #939393;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0;
      background: #fff;
      cursor: pointer; }
  .productPage__options__item__field {
    display: none; }
    .productPage__options__item__field:checked + label:before {
      content: '';
      background: #32a0ed;
      border: 1px solid #32a0ed; }
    .productPage__options__item__field:checked + label span {
      color: #fff; }
.productPage__navigation {
  margin-top: 40px; }
  .productPage__navigation__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    list-style-type: none;
    padding: 0;
    width: 325px;
    background: #fff;
    margin-bottom: -1px; }
  .productPage__navigation__item {
    width: 50%;
    border: 1px solid #c2c2c2;
    text-align: center; }
    .productPage__navigation__item:first-child {
      border-right: none; }
    .productPage__navigation__item.active {
      border-bottom: 1px solid #fff; }
      .productPage__navigation__item.active .productPage__navigation__item__link {
        color: #32a0ed; }
    .productPage__navigation__item__link {
      height: 68px;
      display: block;
      font: 16px/70px "OpenSans Semibold";
      color: #2a2a2a; }
.productPage__reviews {
  padding: 30px 35px;
  border: 1px solid #c2c2c2;
  background: #fff; }
  .productPage__reviews .reviews__form__item {
    width: 100%; }
    .productPage__reviews .reviews__form__item__star-field {
      display: none; }
      .productPage__reviews .reviews__form__item__star-field:checked ~ label {
        color: #ffd700; }
      .productPage__reviews .reviews__form__item__star-field:not(:checked) > label:hover {
        color: #ffd700; }
      .productPage__reviews .reviews__form__item__star-field:not(:checked) > label:hover ~ label {
        color: #ffd700; }
    .productPage__reviews .reviews__form__item__star {
      color: #dddddd;
      cursor: pointer; }
      .productPage__reviews .reviews__form__item__star:before {
        margin: 5px;
        font-size: 1.5em;
        font-family: "FontAwesome";
        display: inline-block;
        content: "\f005"; }
    .productPage__reviews .reviews__form__item__name {
      display: block;
      font: 14px/24px "OpenSans Regular";
      color: #676767;
      padding: 0;
      text-align: left; }
    .productPage__reviews .reviews__form__item__text {
      width: 100%;
      min-height: 140px;
      resize: none;
      border: 1px solid #c2c2c2;
      padding: 0 15px; }
  .productPage__reviews .reviews__form__wrap {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 30px; }
    .productPage__reviews .reviews__form__wrap__item {
      width: 40%;
      height: 50px; }
      .productPage__reviews .reviews__form__wrap__item__field {
        width: 95%;
        height: 100%;
        border: 1px solid #c2c2c2;
        font: 14px/50px "OpenSans Regular";
        color: #676767;
        padding: 0 15px; }
  .productPage__reviews .reviews__form__btn {
    width: 20%;
    border: none;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font: 14px/50px "OpenSans Regular";
    text-align: center; }
.productPage__description {
  padding: 30px 35px;
  border: 1px solid #c2c2c2;
  background: #fff;
  font: 14px/16px "OpenSans Regular";
  color: #676767; }

.ocfilter {
  background: transparent;
  border: none;
  box-shadow: none; }
  .ocfilter .selected-options {
    background: transparent;
    border: none;
    padding: 0 0 30px; }
    .ocfilter .selected-options .option-name {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 16px;
      font-family: 'MyriadPro Regular';
      padding-bottom: 10px;
      border-bottom: 1px solid #2a2a2a;
      margin-bottom: 10px; }
    .ocfilter .selected-options .ocfilter-option {
      background: transparent; }
    .ocfilter .selected-options .btn-danger {
      background: #9c2e2b;
      border: none;
      border-radius: 20px; }
      .ocfilter .selected-options .btn-danger.main {
        margin-top: 10px; }
    .ocfilter .selected-options .filter-btn-name {
      font-size: 14px;
      font-family: 'MyriadPro Regular';
      margin: 3px 10px 0 -5px; }
  .ocfilter .ocfilter-option {
    background: transparent;
    border: none;
    padding: 0 0 30px; }
    .ocfilter .ocfilter-option .option-name {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 16px;
      font-family: 'MyriadPro Regular';
      padding-bottom: 10px;
      border-bottom: 1px solid #2a2a2a;
      margin-bottom: 20px; }
    .ocfilter .ocfilter-option label.ocfilter-label {
      font-size: 14px;
      font-family: 'MyriadPro Regular';
      display: flex;
      align-items: center;
      min-height: 30px; }
      .ocfilter .ocfilter-option label.ocfilter-label input {
        margin-right: 12px; }
        .ocfilter .ocfilter-option label.ocfilter-label input[type="checkbox"]:checked + a {
          color: #32a0ed; }
      .ocfilter .ocfilter-option label.ocfilter-label a {
        color: #2a2a2a;
        margin-left: 5px; }
      .ocfilter .ocfilter-option label.ocfilter-label small {
        background: #2a2a2a;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        font-family: 'OpenSans Semibold';
        margin-left: auto;
        width: 22px;
        height: 22px;
        line-height: 22px;
        padding: 0;
        overflow: hidden; }
  .ocfilter .noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    left: -10px;
    top: -6px;
    border-radius: 50%;
    box-shadow: none;
    border: 2px solid #32a0ed; }
    .ocfilter .noUi-horizontal .noUi-handle:after {
      display: none; }
    .ocfilter .noUi-horizontal .noUi-handle:before {
      display: none; }
  .ocfilter .noUi-connect {
    background: #2a2a2a; }
  .ocfilter .noUi-horizontal {
    height: 10px; }

.category-sidebar__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  font-family: 'MyriadPro Regular';
  padding-bottom: 10px;
  border-bottom: 1px solid #2a2a2a;
  margin-bottom: 20px; }
.category-sidebar__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 14px;
  font-family: 'MyriadPro Regular';
  padding: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  list-style-type: none; }
.category-sidebar__sublist {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: 'MyriadPro Regular';
  padding: 0 0 0 20px;
  display: flex;
  align-items: center;
  text-transform: none;
  list-style-type: none; }
.category-sidebar__item {
  width: 100%;
  min-height: 30px; }
  .category-sidebar__item a {
    color: #636363;
    display: flex;
    justify-content: space-between;
    align-items: center; }
.category-sidebar__sublistItem {
  width: 100%;
  min-height: 30px; }
  .category-sidebar__sublistItem a {
    color: #636363;
    display: flex;
    justify-content: space-between;
    align-items: center; }
.category-sidebar__quant {
  background: #2a2a2a;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-family: 'OpenSans Semibold';
  margin-left: auto;
  width: 22px;
  height: 22px;
  line-height: 22px;
  padding: 0;
  font-size: 10px;
  overflow: hidden; }

.review {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin-bottom: 10px; }
  .review__text {
    font: 12px/15px "OpenSans Regular";
    color: #676767; }
  .review__rating {
    margin: 15px 0 5px;
    text-align: right; }
    .review__rating__star {
      display: inline-block;
      margin: 2px; }
      .review__rating__star:before {
        font-size: 1em;
        font-family: "FontAwesome";
        content: "\f005";
        color: #dddddd; }
      .review__rating__star_yellow {
        display: inline-block;
        margin: 2px; }
        .review__rating__star_yellow:before {
          font-size: 1em;
          font-family: "FontAwesome";
          content: "\f005";
          color: #ffd700; }
  .review__info {
    text-align: right;
    font: 12px/15px "Roboto Medium";
    color: #676767; }

.review__line {
  margin: 40px auto;
  background: #32a0ed;
  width: 85%;
  height: 1px; }

.mfp-content #ocmod-popup-okno {
  background: #fff;
  padding: 60px 40px 40px 55px;
  box-shadow: none;
  border-radius: 0; }
  .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-heading {
    background: none;
    text-transform: uppercase;
    font: 30px/42px "MyriadPro Regular";
    color: #2e2e2e;
    padding: 0;
    margin-bottom: 40px; }
  .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center {
    padding: 0; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart th {
      font: 14px/16px "OpenSans Regular";
      color: #888;
      padding-bottom: 12px; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart tr {
      border-bottom: 1px solid #dcdcdc; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart tr td.image {
      padding: 25px 0; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart tr td.image img {
      border: 1px solid #a5a5a5;
      border-radius: 0; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart tr td.name {
      min-width: 110px;
      padding-left: 0; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart tr td.name a {
      font: 16px/18px "Roboto Medium";
      color: #4e4e4e; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart tr td.name .price {
      font: 16px/18px "OpenSans Regular";
      color: #4e4e4e; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart tr td.qt {
      text-align: left; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart .number {
      border: none; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart .frame-change-count {
      width: 100px; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart input.plus-minus {
      width: 45px;
      height: 33px;
      border: 1px solid #cfcfcf;
      font: 14px/33px "OpenSans Semibold";
      color: #a9a9a9;
      text-align: center;
      top: -10px;
      left: 27px; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart .btn-plus {
      width: 16px;
      height: 16px;
      transition-duration: 0.3s; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart .btn-plus button {
      width: 16px;
      height: 16px;
      background-color: #a5a5a5;
      border-radius: 2px;
      color: #fff;
      border: none;
      line-height: 16px;
      display: block; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart .btn-plus button:hover,
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart .btn-minus button:hover {
      background: #32a0ed; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart .btn-minus {
      width: 16px;
      height: 16px;
      transition-duration: 0.3s; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart .btn-minus button {
      width: 16px;
      height: 16px;
      background-color: #a5a5a5;
      border-radius: 2px;
      color: #fff;
      border: none;
      line-height: 16px;
      display: block; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart tr td.totals {
      min-width: 80px;
      text-align: left;
      font: 16px/18px "Roboto Medium";
      color: #4e4e4e;
      padding-left: 0; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .display-products-cart tr td.remove {
      color: #a5a5a5; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-center .all-total {
      font: 18px/20px "OpenSans Semibold";
      color: #000; }
  .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-footer {
    padding: 0;
    margin-top: 30px; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-footer button {
      padding: 0;
      width: 189px;
      height: 42px;
      border: 2px solid #2e2e2e;
      background: #fff;
      text-transform: uppercase;
      font: 13px/42px "OpenSans Regular";
      color: #141414;
      transition-duration: 0.3s; }
      .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-footer button:hover {
        background: #2e2e2e;
        color: #fff; }
    .mfp-content #ocmod-popup-okno #ocmod-popup-okno-inner .ocmod-popup-footer a {
      padding: 0;
      width: 144px;
      height: 42px;
      background-color: #2e2e2e;
      font: 13px/42px "OpenSans Regular";
      text-transform: uppercase;
      color: #fff; }
  .mfp-content #ocmod-popup-okno .mfp-close {
    width: 41px;
    height: 37px;
    background-color: #2e2e2e;
    color: #fff;
    font-size: 30px;
    line-height: 37px;
    border: none;
    border-radius: 0; }

.videoPage__header {
  min-height: 95px;
  background: url("./img/categoryBg.png") no-repeat; }
.videoPage__title {
  margin-top: 38px;
  font: 24px/26px "OpenSans Regular";
  text-transform: uppercase;
  color: #dedede;
  padding: 0; }
.videoPage .pvr-contentLayout .pvr-video-item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  max-height: 240px; }
.videoPage .pvr-contentLayout .pvr-video-item .left {
  float: none; }
.videoPage .pvr-contentLayout .pvr-video-item .right {
  float: none; }
.videoPage__review {
  width: 95%;
  height: 220px;
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  background: #fff;
  position: relative; }
  .videoPage__review__title {
    font: 20px/22px "Roboto Medium";
    color: #000;
    text-transform: uppercase; }
  .videoPage__review .pvr-text {
    margin: 15px 0;
    font: 14px/16px "OpenSans Regular"; }
  .videoPage__review.video {
    margin-top: 20px;
    background: none;
    text-align: center;
    width: 100%; }
.videoPage .pvr-contentLayout .pvr-video-item .right .mainProductReviewInfo {
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 10px; }
.videoPage .pvr-contentLayout .pvr-video-item .right .mainProductReviewInfo .pvr-date {
  margin-bottom: 10px; }
.videoPage a.videoReviewMoreBtn {
  padding: 5px 10px;
  background: #fff;
  border: 2px solid #000;
  color: #000;
  font: 13px/25px "OpenSans Regular";
  text-align: center;
  transition-duration: 0.3s;
  float: none; }
  .videoPage a.videoReviewMoreBtn:hover {
    background: #000;
    color: #fff; }

.newsPage__header {
  min-height: 95px;
  background: url("./img/categoryBg.png") center no-repeat;
  margin-bottom: 30px; }
.newsPage__title {
  margin-top: 38px;
  font: 24px/26px "OpenSans Regular";
  text-transform: uppercase;
  color: #dedede;
  padding: 0; }
.newsPage__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 20px; }
  .newsPage__item__image {
    width: 30%; }
    .newsPage__item__image__link {
      display: block; }
  .newsPage__item__info {
    width: 70%; }
    .newsPage__item__info__name {
      font: 18px/20px "Roboto Medium";
      color: #000;
      margin-bottom: 15px;
      display: block; }
    .newsPage__item__info__descr {
      font: 14px/16px "OpenSans Regular";
      color: #626262;
      margin-bottom: 30px; }
    .newsPage__item__info__btn {
      width: 100px;
      height: 30px;
      text-align: center;
      border: 2px solid #000;
      color: #000;
      font: 13px/25px "OpenSans Regular";
      background: none;
      transition-duration: 0.3s;
      float: right; }
      .newsPage__item__info__btn:hover {
        background: #000;
        color: #fff; }
.newsPage__content__img {
  text-align: center; }
.newsPage__content__info {
  text-align: center; }
  .newsPage__content__info__name {
    font: 18px/20px "Roboto Medium";
    color: #000;
    margin: 20px 0;
    text-transform: uppercase; }
  .newsPage__content__info__description {
    font: 14px/18px "OpenSans Regular";
    color: #626262;
    margin-bottom: 20px; }
  .newsPage__content__info__posted {
    font: 14px/18px "OpenSans Regular";
    color: #626262;
    text-align: right; }
  .newsPage__content__info__viewed {
    font: 14px/18px "OpenSans Regular";
    color: #626262;
    text-align: right; }
.newsPage__content__buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center; }
  .newsPage__content__buttons__item {
    display: block;
    width: 210px;
    height: 40px;
    text-align: center;
    border: 2px solid #000;
    color: #000;
    font: 13px/32px "OpenSans Regular";
    background: none;
    transition-duration: 0.3s; }
    .newsPage__content__buttons__item:hover {
      background: #000;
      color: #fff; }

.searchPage__header {
  min-height: 95px;
  background: url("./img/categoryBg.png") center no-repeat;
  margin-bottom: 30px; }
.searchPage__title {
  margin-top: 38px;
  font: 24px/26px "OpenSans Regular";
  text-transform: uppercase;
  color: #dedede;
  padding: 0; }
.searchPage__result {
  margin: 20px 0;
  font: 24px/26px "OpenSans Regular";
  text-transform: uppercase;
  color: #000;
  text-align: center; }
.searchPage .checkbox-wrap {
  margin-top: 5px; }
.searchPage .checkbox-container {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 0; }
  .searchPage .checkbox-container:first-child {
    margin-left: 0; }
.searchPage .form-control {
  border-radius: 0;
  background: none; }
.searchPage label {
  font: 14px/16px "MyriadPro Regular";
  color: #2a2a2a; }
.searchPage input[type="checkbox"] {
  top: -2px; }
.searchPage__btn {
  display: block;
  width: 210px;
  height: 40px;
  text-align: center;
  border: 2px solid #32a0ed;
  color: #000;
  font: 13px/32px "OpenSans Regular";
  background: #fff;
  transition-duration: 0.3s;
  text-transform: uppercase;
  margin: 45px auto; }
  .searchPage__btn:hover {
    background: #32a0ed;
    color: #fff; }
.searchPage__empty {
  margin: 25px 0;
  text-align: center;
  font: 16px/20px "OpenSans Regular"; }

.informationPage__header {
  min-height: 95px;
  background: url("./img/categoryBg.png") center no-repeat;
  margin-bottom: 30px; }
.informationPage__title {
  margin-top: 38px;
  font: 24px/26px "OpenSans Regular";
  text-transform: uppercase;
  color: #dedede;
  padding: 0; }
.informationPage__content {
  font: 14px/22px "OpenSans Regular"; }

.contactPage__header {
  min-height: 95px;
  background: url("./img/categoryBg.png") center no-repeat;
  margin-bottom: 30px; }
.contactPage__title {
  margin-top: 38px;
  font: 24px/26px "OpenSans Regular";
  text-transform: uppercase;
  color: #dedede;
  padding: 0; }
.contactPage__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-bottom: 25px; }
  .contactPage__item__icon {
    width: 15%;
    text-align: center; }
    .contactPage__item__icon .phone {
      display: inline-block;
      width: 20px;
      height: 32px;
      background: url("./img/contactPhone.png") no-repeat; }
    .contactPage__item__icon .email {
      display: inline-block;
      width: 32px;
      height: 24px;
      background: url("./img/contactEmail.png") no-repeat; }
    .contactPage__item__icon .work {
      display: inline-block;
      width: 32px;
      height: 30px;
      background: url("./img/contactWork.png") no-repeat; }
  .contactPage__item__text {
    width: 85%; }
    .contactPage__item__text__title {
      font: 14px/18px "Roboto Medium"; }
    .contactPage__item__text__link {
      display: block;
      font: 14px/18px "OpenSans Regular";
      color: #141414; }
.contactPage__shopForm__title {
  font: 18px/20px "OpenSans Regular";
  padding: 0;
  color: #141414;
  border: none; }
.contactPage__shopForm label.control-label {
  display: block;
  font: 13px/25px "OpenSans Regular";
  color: #2a2a2a;
  text-align: left;
  padding: 0; }
.contactPage__shopForm__item.form-group {
  margin-right: 0;
  margin-left: 0; }
.contactPage__shopForm__item .form-control {
  border-radius: 0;
  background-color: #e9e9e9;
  border: 1px solid #c2c2c2; }
.contactPage__shopForm__btn {
  width: 100px;
  height: 42px;
  background-color: #2a2a2a;
  border: none;
  text-align: center;
  color: #fff;
  font: 13px/42px "MyriadPro Regular";
  text-transform: uppercase; }

#callback-box .modal-dialog {
  width: 455px;
  margin-top: 120px; }
#callback-box .modal-content {
  border-radius: 0;
  padding: 60px 50px 45px; }
#callback-box .modal-header {
  padding: 0;
  border: none;
  margin-bottom: 20px; }
  #callback-box .modal-header .close {
    position: absolute;
    top: 2px;
    right: 0px;
    width: 41px;
    height: 37px;
    background-color: #2e2e2e;
    color: #fff;
    opacity: 1; }
  #callback-box .modal-header .modal-title {
    font: 30px/42px "MyriadPro Regular";
    color: #2e2e2e;
    text-transform: uppercase; }
  #callback-box .modal-header .modal-note {
    font: 14px/20px "MyriadPro Regular";
    color: #676767;
    margin: 30px 0; }
#callback-box .modal-body {
  padding: 0; }
#callback-box .form-group {
  margin: 0 0 20px; }
  #callback-box .form-group input {
    height: 40px;
    border: none;
    border-radius: 0;
    background-color: #e8e8e8;
    font: 13px/25px "MyriadPro Regular";
    color: #000; }
#callback-box .modal-footer {
  padding: 0;
  text-align: left;
  border: none; }
#callback-box .add-callback {
  width: 115px;
  height: 42px;
  background-color: #2e2e2e;
  border: 0;
  font: 13px/42px "MyriadPro Regular";
  color: #fff;
  text-transform: uppercase;
  text-shadow: none;
  padding: 0;
  background-image: none;
  border: none;
  border-radius: 0; }
  #callback-box .add-callback i {
    display: none; }
#callback-box .col-sm-4 {
  display: none; }
#callback-box .col-sm-8 {
  width: 100%;
  padding: 0; }

.login-wrap .modal-dialog {
  width: 456px;
  background: #fff;
  margin-top: 120px; }
.login-wrap .modal-content {
  border-radius: 0;
  padding: 0; }
.login-wrap .modal-body {
  position: relative;
  padding: 60px 50px 25px; }
.login-wrap .login__close {
  width: 41px;
  height: 37px;
  background-color: #2e2e2e;
  color: #fff;
  position: absolute;
  top: -1px;
  right: -1px;
  cursor: pointer;
  text-align: center;
  font-size: 25px;
  line-height: 33px; }
.login-wrap .login__title {
  font: 30px/42px "MyriadPro Regular";
  color: #2e2e2e;
  text-transform: uppercase;
  margin-bottom: 30px; }
.login-wrap .login__form .form-group {
  margin: 0; }
  .login-wrap .login__form .form-group a {
    text-decoration: underline;
    color: #5b9ddb;
    font: 13px/20px "MyriadPro Regular"; }
.login-wrap .login__form .form-control {
  border-radius: 0;
  border: none;
  height: 42px;
  background-color: #e8e8e8;
  font: 13px/42px "MyriadPro Regular";
  color: #000;
  margin-bottom: 20px; }
.login-wrap .login__form .loginaccount {
  width: 115px;
  height: 42px;
  background-color: #2e2e2e;
  border-radius: 0;
  border: none;
  margin: 20px 0;
  font: 13px/42px "MyriadPro Regular";
  color: #fff;
  text-align: center;
  text-transform: uppercase; }
.login-wrap .login__form .createaccount {
  width: 115px;
  height: 42px;
  background-color: #2e2e2e;
  border-radius: 0;
  border: none;
  margin: 20px 0;
  font: 13px/42px "MyriadPro Regular";
  color: #fff;
  text-align: center;
  text-transform: uppercase; }
.login-wrap .login__toRegistration {
  text-decoration: underline;
  display: block;
  text-align: center;
  font: 14px/45px "MyriadPro Regular";
  color: #5b9ddb;
  cursor: pointer; }
.login-wrap .login .registration__toLogin {
  text-decoration: underline;
  display: block;
  text-align: center;
  font: 14px/45px "MyriadPro Regular";
  color: #5b9ddb;
  cursor: pointer; }
.login-wrap #quick-register {
  display: none; }

.latestPage__header {
  min-height: 95px;
  background: url("./img/categoryBg.png") center no-repeat;
  margin-bottom: 30px; }
.latestPage__title {
  margin-top: 38px;
  font: 24px/26px "OpenSans Regular";
  text-transform: uppercase;
  color: #dedede;
  padding: 0; }
.latestPage .module {
  margin-top: 0; }
  .latestPage .module__header {
    display: none; }
.latestPage .product {
  margin-bottom: 30px; }

.accountPage__header {
  min-height: 95px;
  background: url("./img/categoryBg.png") center no-repeat;
  margin-bottom: 30px; }
.accountPage__title {
  margin-top: 38px;
  font: 24px/26px "OpenSans Regular";
  text-transform: uppercase;
  color: #dedede;
  padding: 0; }
.accountPage__item__title {
  font: 20px/22px "Roboto Light";
  color: #3a3a3a;
  text-transform: uppercase;
  margin-bottom: 20px; }
.accountPage__item__list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .accountPage__item__list__link {
    font: 14px/24px "Open Sans";
    color: #32a0ed; }
    .accountPage__item__list__link:hover {
      text-decoration: underline;
      color: #32a0ed; }
.accountPage #column-right {
  width: 80%;
  padding: 0;
  float: right; }
.accountPage .accountModule {
  border: 1px solid #adadad;
  padding: 0 10px; }
  .accountPage .accountModule__link {
    display: block;
    padding: 5px 10px;
    font: 12px/24px "Open Sans";
    color: #3a3a3a;
    border-bottom: 1px solid #adadad; }
    .accountPage .accountModule__link:last-child {
      border: none;
      font-weight: bold; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*# sourceMappingURL=style.css.map */
