.image {
	position: relative;
}
.image .rb-tl {
	position: absolute;
	top: 0px;
	left: 0px;
}
.image .rb-tr {
	position: absolute;
	top: 0px;
	right: 0px;
}
.image .rb-bl {
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.image .rb-br {
	position: absolute;
	bottom: 0px;
	right: 0px;
}