//colors
$gray-light:#363636;
$gray-dark:#211f20;
$white:#fff;
$blue:#32a0ed;
$bg:#f4f4f4;
$text-color: #4e4e4e;
$black:#000;
$red:#ff4e41;




//font-size
$base-font:13px;
$base-line-height:15px;


//font-famili
$base-font-family: "MyriadPro Regular";