//colors
$gray-light:#363636;
$gray-dark:#211f20;
$white:#fff;
$blue:#32a0ed;




//font-size
$base-font:13px;
$base-line-height:15px;


//font-famili
$base-font-family: "MyriadPro Regular";