body {
	color: #212121;
	font-family: arial;
	font-size:12px;
	padding:0px;
	margin:0px;
}
img {
	border: 0;
}
.clear {
	clear:both;
	height:0;
	line-height:0;
}
.widget {
	border:1px solid #c3c3c3;
	background:#f9f9f9;
	overflow:hidden;
	width: 100% !important;
}
	.widget a.title:link, .widget a.title:visited  {
		display:block;
		height:33px;
		background:#2a2a2a;
		text-decoration:none;
		/*display: none;*/
	}
	.widget .title .icon {
		display:block;
		float:left;
		width:25px;
		height:25px;
		margin:4px 10px 0 5px;
	}
		.widget .title .text {
			float:left;
			height:25px;
			overflow:hidden;
			margin:5px 0 0 0;
			color:#FFF;
			font-size:18px;
			white-space:nowrap;
		}
		.widget .profile {
			width:100%;
			border-collapse: collapse;
		}
			.widget .profile tr td {
				padding:0px;
				margin:0px;
				text-align:center;
			}
			.widget .profile td {
				border:1px solid #c3c3c3;
			}
			.widget .profile .avatar {
				width:1%;
				padding:10px !important;
				border-left:none !important;
				line-height:0px;
			}
				.widget .profile .avatar img {
					width:60px;
				}
			.widget .profile .value {
				width:33%;
				height:30px;
				font-size:14px;
				font-weight:bold;
			}
			.widget .profile span {
				display:block;
				font-size:9px;
				font-weight:bold;
				color:#999999;
				margin:-2px 0 0 0;
			}
	.widget a.follow:link, .widget a.follow:visited {
		display:block;
		background:#ad4141;
		text-decoration:none;
		font-size:14px;
		color:#FFF;
		font-weight:bold;
		width:120px;
		margin:0 auto 0 auto;
		padding:0;
		box-shadow: 0 0px 2px rgba(0,0,0,0.5);
	}
	.widget a.follow:hover {
		background:#cf3838;
	}
	.widget .data {
		text-align:left;
		margin:0;
		padding:0;
		display: flex;
		flex-wrap: wrap;
	}
		body .widget .data a.image:link, .widget .data a.image:visited{
			width: 25%;
			/*width: 50%;*/
			height: auto;
			display:flex;
			margin: 0;
			overflow:hidden;
			ling-height:0px;
			text-decoration:none;
			position: relative;
		}

@media screen and (max-width: 710px) {
	body .widget .data a.image:link, .widget .data a.image:visited{
		width: 50%;
	}
}

		body .widget .data a.image:before{
			content: '';
			padding-top: 100%;
			display: block;

		}
		.widget .data a.image>span {
			width:100%;
			height:auto;
			display:block;
			background-repeat:no-repeat;
			background-size:cover;
			background-position:center center;
		}
		.widget .data a .shadow {
			width:100%;
			height: 100%;
			opacity:0;
			background: rgba(0,0,0,.5);
			transition-duration: 0.5s;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}
		.widget .data a .shadow .likes {
			color: #fff;
			font-size: 18px;
			text-align: center;
			margin: 10px 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.widget .data a .shadow .comments {
			color: #fff;
			font-size: 18px;
			text-align: center;
			margin: 10px 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.widget .data a:hover .shadow {
			opacity:1;
		}
	.widget .empty {
		text-align:center;
		margin:10px 0 10px 0;
	}
.copyright {
	display: none;
}
	.copyright a:link, .copyright a:visited {
		text-decoration:none;
		color:#666;
	}
	.copyright a:hover {
		text-decoration:underline;
	}