.module {
  .manufacturer-slider {
    margin-bottom: 50px;
    padding:25px 55px;
    background: #f4f4f4;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    .item{
      display: flex;
      justify-content: center;
    }
    .slick-arrow {
      &.prev {
        left: 0;
        top: 25px;
        width: 33px;
        height: 92px;
        background: #2a2a2a url("./img/slick-prev.png") center no-repeat;
        cursor: pointer;
      }
      &.next {
        right: 0;
        top: 25px;
        width: 33px;
        height: 92px;
        background: #2a2a2a url("./img/slick-next.png") center no-repeat;
        cursor: pointer;
      }
    }
  }
}