.category {
  overflow: hidden;
  position: relative;
  &__header {
    min-height: 95px;
    background: url("./img/categoryBg.png") center no-repeat;
    margin-bottom: 30px;
  }
  &__title {
    margin-top:38px;
    font: 24px/26px "Open Sans";
    text-transform: uppercase;
    color: #dedede;
    padding: 0;
    @media screen and (max-width: 480px){
      font: 20px/22px "Open Sans";
    }
  }
  &__sort {
    display: flex;
    justify-content:flex-end;
    align-content: center;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #adadad;
    margin:0 15px;
    @media screen and (max-width: 992px){
      justify-content:space-between;
    }
    @media screen and (max-width: 480px){
      align-content: flex-end;
      align-items: flex-end;
    }
    &__select {
      &__title {
        display: inline-block;
        vertical-align: middle;
        font: 14px/16px "MyriadPro Regular";
        color: #2a2a2a;
        margin-right: 14px;
        margin-bottom: 0;
      }
      &__field {
        display: inline-block;
        vertical-align: middle;
        width: auto;
        border-radius: 0;
        background: transparent;
        border: 1px solid #adadad;
        @media screen and (max-width: 480px){
          width: 150px;
        }
      }
    }
    &__buttons {
      //width: 68px;
      height: 34px;
      border: 1px solid #adadad;
      margin-left: 50px;
      display: flex;
      justify-content:center;
      align-items: center;
      align-content: center;
      padding: 0 3px;

      @media screen and (max-width: 480px){
        margin-left: 0;
        padding: 0;
        width: 70px;
        height: 34px;
      }
      &__item {
        width: 50%;
        background: none;
        color: #211f20;
        border: none;
        font-size: 17px;
        @media screen and (max-width: 480px){
          width: 35px;
          padding: 0;
          height: 100%;
          text-align: center;
        }
        &.active {
          color: $blue;
        }
      }
    }
  }
  .product {
    &.product-list {
      .product__thumb {
        display: flex;
        justify-content:flex-start;
        align-content: center;
        align-items: center;
        margin-bottom: 27px;
        &__image {
          width: 25%;
        }
        &__caption {
          width: 75%;
          padding:15px 30px;
        }
      }
      .product__name {
        text-align: left;
        min-height: 30px;
        &:after {
          left: 0;
          right:auto;
        }
      }
      .product__price {
        text-align: left;
        margin:15px 0;
      }
      .product__attribute {
        margin:5px 0;
        &__item {
          font: 13px/20px "Open Sans";
          color: #3a3a3a;
        }
      }
      .product__btn {
        padding: 0;
        margin-top: 25px;
        justify-content:flex-start;
        margin-bottom: 0;
        &__button {
          margin-left: 15px;
          &:hover {
            color: $white;
          }
          &__icon {
            margin-right: 8px;
          }
        }
      }
    }
    &.product-grid {
      margin-bottom: 30px;
      .product__attribute {
        display: none;
      }
      .product__btn {
        padding: 0;
        @media screen and (max-width: 992px){
          padding:0 40px;
        }
      }
    }
  }
  &__empty {
    font: 16px/20px "Open Sans";
    text-align: center;
  }
  &__continue {
    display: block;
    width: 100px;
    height: 42px;
    background-color: #32a0ed;
    border: none;
    text-align: center;
    color: #fff;
    font: 13px/42px "MyriadPro Regular";
    text-transform: uppercase;
    margin:20px auto 0;
  }
  .category-filter {
    @media screen and (max-width: 992px){
      position: absolute;
      top: 0;
      right: -480px;
      transition: right ease 0.2s;
      background: $white;
      color: $black;
      width: 480px;
      z-index: 100;
      padding-top: 30px;

      &.show {
        top: 0;
        right: 0;
        box-shadow: 0px 0px 50px rgba(0,0,0,0.8);
      }
    }
    @media screen and (max-width: 767px){
      width: 100%;
      right: -100%;
    }
  }
  .filter_btn {
    display: inline-block;
    margin-top: 38px;
    width: 28px;
    height: 30px;
    background: url("./img/filterBtn.png") no-repeat;
  }
}