.category-sidebar{
  &__title{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    font-family: 'MyriadPro Regular';
    padding-bottom: 30px;
    border-bottom: 1px solid #2a2a2a;
    margin-bottom: 20px;
    position: relative;
    .close_btn {
      position: absolute;
      top: -5px;
      right: 25px;
      width: 32px;
      height: 32px;
      background: url("./img/closeBtn.png") no-repeat;
    }
  }
  &__list{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 14px;
    font-family: 'MyriadPro Regular';
    padding: 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    list-style-type: none;
  }
  &__sublist{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: 'MyriadPro Regular';
    padding: 0 0 0 20px;
    display: flex;
    align-items: center;
    text-transform: none;
    list-style-type: none;
  }
  &__item{
    width: 100%;
    min-height: 30px;
    a{
      color: #636363;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__sublistItem{
    width: 100%;
    min-height: 30px;
    a{
      color: #636363;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__quant{
    background: #2a2a2a;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 600;
    margin-left: auto;
    width: 22px;
    height: 22px;
    line-height: 22px;
    padding: 0;
    font-size: 10px;
    overflow: hidden;
  }
}