.menu {
  background: #141414;
  .navbar {
    min-height: 55px;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    justify-content:flex-start;
    align-content: center;
    align-items: center;
    &__container {
      list-style-type:none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content:flex-start;
      align-content: center;
      align-items: center;
    }
    &__item {
      padding:0 10px;
      position: relative;
      overflow: visible;
      &:hover {
        .sub-menu {
          display: block;
        }
      }
      .sub-menu {
        display: none;
        position: absolute;
        top: 55px;
        left: 0;
        background: $gray-light;
        z-index: 5;
        width: 655px;
        height: 200px;
        &__container {
          padding:25px 30px;
        }
        &__list {
          margin: 0;
          padding: 0;
          list-style-type:none;
          display: flex;
          flex-direction: row;
          justify-content:space-between;
          align-items: stretch;
          flex-wrap: wrap;
        }
        &__item {
          width: 25%;
          margin-bottom: 20px;
        }
        &__link {
          font: 14px/16px "MyriadPro Regular";
          color: #b8b8b8;
          text-transform: uppercase;
          white-space: nowrap;
          &:hover {
            color: $white;
          }
        }
      }
    }
    &__link {
      font: 16px/55px "RobotoCondensed Regular";
      text-transform: uppercase;
      color: $white;
    }
  }
}