.menu {
  background: #141414;
  .navbar {
    min-height: 55px;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    justify-content:flex-start;
    align-content: center;
    align-items: center;
    &__container {
      list-style-type:none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content:flex-start;
      align-content: center;
      align-items: center;
    }
    &__item {
      padding:0 10px;
      position: relative;
      overflow: visible;
      &:hover {
        .sub-menu {
          display: block;
        }
      }
      .sub-menu {
        display: none;
        position: absolute;
        top: 55px;
        left: 0;
        background: $gray-light;
        z-index: 5;
        width: 655px;
        height: 200px;
        &__container {
          padding:25px 30px;
        }
        &__list {
          margin: 0;
          padding: 0;
          list-style-type:none;
          display: flex;
          flex-direction: row;
          justify-content:space-between;
          align-items: stretch;
          flex-wrap: wrap;
        }
        &__item {
          width: 25%;
          margin-bottom: 20px;
        }
        &__link {
          font: 14px/16px "MyriadPro Regular";
          color: #b8b8b8;
          text-transform: uppercase;
          white-space: nowrap;
          &:hover {
            color: $white;
          }
        }
      }
    }
    &__link {
      display: block;
      font: 16px/55px "RobotoCondensed Regular";
      text-transform: uppercase;
      color: $white;
    }
  }
  &__mobile {
    background: #141414;
    color: $white;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 100;
    padding-top: 60px;
    @media screen and (max-width: 768px){
      width: 100%;
      max-height: 100%;
      overflow: scroll;
    }
    &__wrap {
      width: 100%;
      height: 100%;
      background: #141414;
    }
    .modal-dialog {
      width: 100%;
      height: 100%;
      margin: 0;
      -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
      -o-transform: translate3d(0%, 0, 0);
      transform: translate3d(0%, 0, 0);
    }
    &.fade {
      .modal-dialog {
        -webkit-transition: opacity 0.1s linear, left 0.1s ease-out;
        -moz-transition: opacity 0.1s linear, left 0.1s ease-out;
        -o-transition: opacity 0.1s linear, left 0.1s ease-out;
        transition: opacity 0.1s linear, left 0.1s ease-out;
      }
    }
    .modal-content {
      width: 100%;
      height: 100%;
      border: none;
    }
    .panel {
      border-radius: 0;
      border: none;
      background: #141414;
      box-shadow: none;
      margin-top: 0;
      margin-bottom: 0;
    }
    .panel-collapse {
      padding-left: 40px;
      background: #232323;
    }
    &__item {
      display: block;
      font: 22px/24px "RobotoCondensed Regular";
      text-transform: uppercase;
      color: $white;
      padding: 15px 0 15px 15px;
      background: #141414;
      position: relative;
      &.open {
        background: #232323;
        color: $blue;
        .arrow {
          width: 18px;
          height: 10px;
          background: url("./img/arrowMenuAct.png") no-repeat;
        }
      }
      .arrow {
        position: absolute;
        top: 15px;
        right: 40px;
        width: 10px;
        height: 18px;
        background: url("./img/arrowMenu.png") no-repeat;
      }
    }
    &__link {
      display: block;
      font: 18px/20px "RobotoCondensed Regular";
      text-transform: uppercase;
      color: #b8b8b8;
      padding: 13px 0;
    }
    hr {
      width: 54%;
      height: 1px;
      background: #272727;
      display: block;
      margin:0 auto;
      @media screen and (max-width: 768px){
        width: 100%;
      }
    }
  }
}