.navigation {
  background: $gray-light;
  &__links {
    @media screen and (max-width: 992px){
      position: fixed;
      top: 11px;
      right: 20%;
      z-index: 150;
    }
    @media screen and (max-width: 768px){
      right: 10%;
    }
    @media screen and (max-width: 480px){
      right: 15%; 
    }
    i {
      @media screen and (max-width: 992px){
        font-size: 3em;
      }
    }
    &__item {
      display: inline-block;
      font: $base-font $base-font-family;
      line-height: 15px;
      color: $white;
      padding: 10px 15px;
      cursor: pointer;
      &:hover {
        color: $white;
        text-decoration: underline;
      }
      &:first-child {
        padding-left: 0;
      }
    }
    &.login {
      text-align: right;
      &__item {
        padding-right: 0;
      }
    }
  }
}