.navigation {
  background: $gray-light;
  &__links {
    @media screen and (max-width: 992px){
      position: fixed;
      top: 15px;
      right: 130px;
      z-index: 200;
    }
    @media screen and (max-width: 768px){
      right: 95px;
    }
    @media screen and (max-width: 480px){
      right: 75px;
    }
    i {
      @media screen and (max-width: 992px){
        font-size: 2.5em;
      }
      @media screen and (max-width: 480px){
        font-size: 2em;
      }
    }
    &__item {
      display: inline-block;
      font: $base-font $base-font-family;
      line-height: 15px;
      color: $white;
      padding: 10px 15px;
      cursor: pointer;
      @media screen and (max-width: 992px){
        padding: 0;
      }
      &:hover {
        color: $white;
        text-decoration: underline;
      }
      &:first-child {
        padding-left: 0;
      }
    }
    &.login {
      text-align: right;
      &__item {
        padding-right: 0;
      }
    }
  }
}