.productPage {
  &__header {
    min-height: 343px;
    background: url("./img/productPageBg.png") no-repeat;
  }
  &__title {
    margin-top:38px;
    font: 24px/26px "OpenSans Regular";
    text-transform: uppercase;
    color: #dedede;
    padding: 0;
  }
  &__content {
    margin-top: -245px;
  }
  &__wrap {
    background: $white;
  }
  &__thumbnails {
    padding:20px 0 0 20px;
    &__image {
      display: block;
      border: 1px solid #f4f5f7;
      text-align: center;
      position: relative;
    }
    &__icon {
      display: block;
      width: 38px;
      height: 38px;
      border: 1px solid $black;
      cursor: pointer;
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-align: center;
      .fa {
        color: $black;
        line-height: 36px;
      }
    }
    &__link {
      display: block;
      text-align: center;
      img {
        margin:0 auto;
      }
    }
    &__list {
      padding: 0 10px;
      margin:15px 0;
      .slick-arrow {
        position: absolute;
        top: 30%;
        font-size:0;
        width: 30px;
        height: 30px;
        border: 1px solid $black;
        z-index: 5;
        transition-duration: 0.3s;
        &.slick-prev {
          left: -10px;
          background: $white url("./img/slick-prevB.png") center no-repeat;
          &:hover {
            background: $blue url("./img/slick-prevW.png") center no-repeat;
            border: 1px solid $blue;
          }
        }
        &.slick-next {
          right: -10px;
          background: $white url("./img/slick-nextB.png") center no-repeat;
          &:hover {
            background: $blue url("./img/slick-nextW.png") center no-repeat;
            border: 1px solid $blue;
          }
        }
      }
    }
    &__item {
      border: 1px solid #f4f5f7;
      margin:0 3px;
    }
  }
  &__info {
    padding:30px 15px 0;
    &__item {
      border-bottom: 1px solid #cccccc;
      padding:20px 0;
      &:first-child {
        padding-top: 0;
      }
      .product__btn {
        margin-bottom: 0;
        justify-content:flex-start;
        padding: 0;
        &__button {
          margin-left: 13px;
        }
      }
      &__header {
        font: 17px/19px "Roboto Medium";
        color: #4e4e4e;
        margin-bottom: 20px;
      }
      .product__attribute__item {
        font: 14px/16px "OpenSans Regular";
        color: #676767;
        margin-bottom: 13px;
      }
    }
    &__name {
      font: 17px/19px "Roboto Medium";
      color: #4e4e4e;
      padding-top: 13px;
    }
    &__rating {
      display: flex;
      justify-content:flex-start;
      align-items: center;
      align-content: center;
      &__link {
        font: 12px/14px "OpenSans Regular";
        color: #676767;
        margin-left: 12px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__price {
      display: flex;
      justify-content:flex-start;
      align-content: center;
      align-items: center;
      &_old {
        font: 22px/24px "OpenSans Regular";
        color: #939393;
        text-decoration: line-through;
      }
      &_new {
        padding: 10px;
        background: #2a2a2a;
        font: 22px/22px "OpenSans Semibold";
        color: $white;
        margin-left: 10px;
      }
    }
  }
  &__options {
    &__title {
      font: 16px/18px "OpenSans Semibold";
      color: #2a2a2a;
      margin-bottom: 20px;
    }
    &__wrap {
      display: flex;
      justify-content:flex-start;
      align-items: center;
      align-content: center;
    }
    &__item {
      position: relative;
      width: 40px;
      margin-right: 13px;
      &__name {
        font: 14px/16px "OpenSans Regular";
        color: $white;
        margin-bottom: 20px;
        position: relative;
        &:before {
          content: '';
          width: 38px;
          height: 38px;
          border: 1px solid #939393;
          border-radius: 50%;
          position: absolute;
          left: 0;
          bottom: 0;
          background: $white;
        }
      }
      &__field {
        display: none;
        &:checked + label:before {
          content: '';
          background: $blue;
          border: 1px solid $blue;
        }
      }
    }
  }
}