.latestPage {
  &__header {
    min-height: 95px;
    background: url("./img/categoryBg.png") center no-repeat;
    margin-bottom: 30px;
  }
  &__title {
    margin-top:38px;
    font: 24px/26px "OpenSans Regular";
    text-transform: uppercase;
    color: #dedede;
    padding: 0;
  }
  .module {
    margin-top: 0;
    &__header {
      display: none;
    }
  }
  .latest {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    .product {
      width: 33%;
      margin-bottom: 30px;
      @media screen and (max-width: 992px){
        width: 50%;
      }
      @media screen and (max-width: 480px){
        width: 90%;
        margin:0 auto 30px;
      }
    }
  }
}