.manufacturerPage {
  &__header {
    min-height: 95px;
    background: url("./img/categoryBg.png") center no-repeat;
    margin-bottom: 30px;
  }
  &__title {
    margin-top:38px;
    font: 24px/26px "Open Sans";
    text-transform: uppercase;
    color: #dedede;
    padding: 0;
  }
  .category__sort {
    border: none;
  }
}